@import 'bootstrap/scss/bootstrap-utilities';
@import 'utils/variables';

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body{
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
}
a {
	transition: .3s all ease;
	color: $yellow;
    text-decoration: none !important;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
.wrapper {
    width: 100%;
    .loading-box{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .loading-spinner{
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }
    }
    
}
  
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: $black;
    color: #fff;
    transition: all 0.3s;
    &.active{
        margin-left: -300px;
    }
    .logo{
        display: block;
        width: 60%;
        height: 80px;
        margin: 30px auto;
        span{
            display: block;
        }
    }
    ul.components{
        padding: 0;
    }
    ul{
      li{
          font-size: 16px;
          >ul{
              margin-left: 10px;
              li{
                  font-size: 14px;
              }
          }
          a{
              padding: 10px 0;
              display: block;
              color: rgba(255,255,255,.8);
              border-bottom: 1px solid rgba(255,255,255,.1);
              &:hover{
                  color: $yellow;
              }
          }
          &.active{
              > a{
                  background: transparent;
                  color: $yellow;
              }
          }
      }
    }
    @include media-breakpoint-down(md){
      margin-left: -300px;
      display: none;
      &.active {
          margin-left: 0;
      }
    }
}
.slider{
    .slider-img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: brightness(50%);
        @include media-breakpoint-down(md){
           height: 93vh;
        }    
    }
}
.appointment-list{
    padding: 30px;
    .v-toolbar__content{
        background-color: $black;
        color: $gray;
        border-radius: 10px 10px 0px 0px;
        .v-toolbar-title__placeholder{
            font-size: 28px;
            text-align: center;
        }
    }
    .update-button{
        font-size: 12px;
        font-weight: 600;
        padding: 10px;
        background-color: $yellow;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $white;
        &:hover,:active,:focus,:visited,:focus-visible{
            background-color: $yellow;
        }
        &:first-child{
            &:active{
                background-color: $yellow;
                color: #fafafa;
            }
        }
    }
    .filter-box{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $black;
        margin-bottom: 20px;
        .sort-and-filter{
            background-color: $black;
            color: $gray;
            padding: 20px;
            border-radius: 20px;
        }
    }
    .active-icon{
        font-size: 30px;
        &.fa-house-lock{
            color: $yellow;
        }
        &.fa-house{
            color: green;
        }
    }
}
.appointment-modal{
    .v-card-title{
        margin-top: 20px;
        margin-left: 10px;
    }
    .v-card-actions{
        display: flex;
        justify-content: center;
        margin: 0 auto 20px auto;
    }
    .datetime_field{
        label{
            font-size: 12px;
            margin-left: 12px;
            margin-top: 3px;
        }
        .appointment-date{
            padding: 20px 0px 0px 10px;
        }
    }

}
.create-appointment{
    margin: 5px auto;
    padding: 20px 100px;
    .row{
        margin: 0 auto;
        .form-group{
            margin-top: 8px;
            .input-group-text{
                height: 40px;
                i{
                    font-size: 20px;
                }
            }
            button{
                background-color: $yellow;
                color: #fafafa;
                border: none;
                outline: 0;
                width: 100%;
                margin-top: 20px;
                &:hover,:active,:focus{
                    background-color: $yellow;
                    opacity: 0.9;
                    color: #fafafa;
                }
                &:first-child{
                    &:active{
                        background-color: $yellow;
                        color: #fafafa;
                    }
                }
            }
        }
        .map {
            width: 100%;
            height: 370px;
            background-color: $white;
            border-radius: 15px;
        }
        .map-info-box{
            background-color: #fcdea5b0 !important;
        }
    }
  
   
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    @include media-breakpoint-down(md){
        background: $black;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .mobile-menu-button{
        background-color: $yellow;
        color: #fafafa;
        &:hover,:active,:focus{
            background-color: $yellow;
            opacity: 0.9;
            color: #fafafa;
        }
        &:first-child{
            &:active{
                background-color: $yellow;
                color: #fafafa;
            }
        }
    }
    .nav{
        padding: 5px;
        .nav-item{
            a{
                color: #fafafa;
            }
        }
    }
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn{
	&.btn-yellow{
		background: $yellow;
		border-color: $yellow;
		&:hover, &:focus{
			background: $yellow !important;
			border-color: $yellow !important;
		}
	}
}

.footer{
    margin-top: 125px;
	p{
		color: rgba(255,255,255,.5);
	}
}
