<template>
    <div class="appointment-list">
        <div class="filter-box">
          <div class="form-group sort-and-filter">
            <label for="sort" class="col-sm-8 control-label mt-2"> Çalışana Göre Filtrele: </label>
            <div class="col-sm-12 mt-2">
                <select class="form-select form-select-md mb-3" name="sort" id="sort" v-model="selectedAgent">
                  <option value="" selected disabled>Çalışan Seç</option>
                  <option v-for="(agent,key) in getAgents" :key="key" :value="agent.id">
                    {{ agent.fields.agent_name + " " + agent.fields.agent_surname }}
                  </option>
                </select>
            </div>
            <button @click="toggleSort" >
                  Randevu Tarihine Göre Sırala:
                  <b>{{ sortOrder === 'asc' ? '(Yeni)' : '(Eski)' }}</b>
                </button>
          </div>
        </div>
        <v-data-table 
          :items="filteredAndSortedRecords" 
          :headers="headers" 
          :item-key="headers.key" 
          :key="sortOrder"
        >
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Randevular</v-toolbar-title>
                </v-toolbar>
            </template>
            <template v-slot:item="{ item }">
                <tr>
                    <td>{{ item.fields.agent_name[0] }}</td>
                    <td>{{ item.fields.agent_surname[0] }}</td>
                    <td>{{ item.fields.contact_name[0] }}</td>
                    <td>{{ item.fields.contact_surname[0] }}</td>
                    <td>{{ item.fields.contact_email[0] }}</td>
                    <td>{{ item.fields.contact_phone[0] }}</td>
                    <td>{{ item.fields.appointment_postcode }}</td>
                    <td>{{ formatDate(item.fields.appointment_date) }}</td>
                <td>
                    <button class="update-button btn-sm" @click="openUpdateDialog(item)">Güncelle</button>
                </td>
                <td>
                  <i :class="[AppointmentIsActive(item.fields.appointment_date) ? 'fa-solid fa-house' : 'fa-solid fa-house-lock','active-icon']"></i>
                </td>
                </tr>
            </template>
        </v-data-table>
        <AppointmentUpdatePopup />
    </div>
  </template>
  

<script setup>
import useResource from '../composables/useResource'
import AppointmentUpdatePopup from '../components/AppointmentUpdatePopup.vue'
import { computed, ref } from 'vue'
import { useStore } from 'vuex'

const store = useStore();
const selectedAgent = ref('');
const sortOrder = ref('asc'); 
    
const headers = [
  { title: 'Çalışan Adı', value: 'agentName' },
  { title: 'Çalışan Soyadı', value: 'agentSurname' },
  { title: 'Müşteri Adı', value: 'contanctName' },
  { title: 'Müşteri Soyadı', value: 'contanctSurname' },
  { title: 'Müşteri Email', value: 'contanctEmail' },
  { title: 'Müşteri Telefon', value: 'contanctPhone' },
  { title: 'Posta Kodu', value: 'postCode' },
  { title: 'Randevu Tarihi', value: 'appointmentDate'},
];


const { appointments: appointments, fetchAllAppointents } = useResource('Appointments')
fetchAllAppointents()
const { agents: agents, fetchAllAgents } = useResource('Agents')
fetchAllAgents()
store.commit('setAppointments',appointments)
store.commit('setAgents',agents)
const getAppointments = computed(() => store.getters.getAppointments);
const getAgents = computed(() => store.getters.getAgents);

const openUpdateDialog = (appointment) => {
  store.commit('setShowUpdateModal',{show:true,payload:appointment})
};

const toggleSort = () => {
  sortOrder.value = sortOrder.value === 'asc' ? 'desc' : 'asc';
};

const filteredAndSortedRecords = computed(() => {
  let records = [];
  if (!selectedAgent.value) {
    records = getAppointments.value;
  } 
  else {
    const agentId = selectedAgent.value;
    records = getAppointments.value.filter(record => record.fields.agent_id.includes(agentId));
  }
  records.sort((a, b) => {
    const dateA = new Date(a.fields.appointment_date);
    const dateB = new Date(b.fields.appointment_date);
    return sortOrder.value === 'asc' ? dateA - dateB : dateB - dateA;
  });
  return records;
});

const formatDate = (appointmentDate) => {
  const date = new Date(appointmentDate);
  const customFormat = date.toISOString().slice(0, 10) + ' ' + date.toISOString().slice(11, 16);
  return customFormat;
}

const AppointmentIsActive = (date) => {
    const appointmentDate = new Date(date);
    const now = new Date();
    return appointmentDate > now;
}

</script>
