<template>
    <div class="container create-appointment">
        <h1 class="text-center mb-5">Randevu Oluştur</h1>
       <div class="row">
            <div class="col-md-6">
                <google-map
                    v-if="isRendered"
                    :disableUI="false"
                    :zoom="15"
                    mapType="roadmap"
                    :center="mapCenter"
                    :officeLocation="mapCenter"
                    ref="gmap"
                    @mapClick="mapClick"
                >
                </google-map>
            </div>
            <div class="col-md-6">
                <div class="w-1/2">         
                    <form @submit.prevent="submitForm">
                        <div  v-for="(form,key) in forms" :key="key">
                            <div class="form-group row mb-2" v-if="form.name == 'contacts'">
                                <label for="contact" class="col-4 col-form-label">Müşteri Seçiniz</label> 
                                <div class="col-8">
                                <select class="form-select form-select-md" name="contact" v-model="form.value" :required="form.required">
                                    <option value="" disabled selected>Müşteriler</option>
                                    <option v-for="(contact,key) in getContacts" :key="key" :value="contact.id">
                                        {{ contact.fields.contact_name + " " + contact.fields.contact_surname }}
                                    </option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2" v-else-if="form.name == 'agents'">
                                <label for="agent" class="col-4 col-form-label">Çalışan Seçiniz</label> 
                                <div class="col-8">
                                <select class="form-select form-select-md" name="agent" v-model="form.value" :required="form.required">
                                    <option value="" disabled selected>Çalışanlar</option>
                                    <option v-for="(agent,key) in getAgents" :key="key" :value="agent.id">
                                        {{ agent.fields.agent_name + " " + agent.fields.agent_surname }}
                                    </option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2" v-else>
                                <label :for="form.name" class="col-4 col-form-label">{{ form.label }}</label> 
                                <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i :class="form.icon"></i>
                                    </div>
                                    </div> 
                                    <input v-model="form.value" :disabled="form.disabled" :type="form.type" :id="form.name" :name="form.name" :placeholder="form.placeholder" class="form-control" :required="form.required">
                                </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-12">
                                <button name="submit" type="submit" class="btn btn-primary">Randevu Oluştur</button>
                            </div>
                        </div>
                        <div class="ms-3 alert alert-danger map-info-box">
                            <p class="mb-3 mt-2 lead">Mesafeyi, seyahat süresini ve toplam randevu süresini hesaplamak için haritadan bir nokta seçin</p>
                            <p class="lead" v-if="distanceToAppointment">Randevu Yerine Uzaklık: <strong> {{ distanceToAppointment }}  km</strong></p>
                            <p class="lead" v-if="travelTimeToAppointment">Randevu Yerine Yolculuk Süresi: <strong> {{ travelTimeToAppointment }}</strong></p>
                            <p class="lead" v-if="totalAppointmentTime">Toplam Randevu Süresi: <strong> {{ totalAppointmentTime }} </strong></p>
                        </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import useResource from '../composables/useResource'
import { useStore } from 'vuex'
import { computed , reactive, onMounted, ref, watch} from 'vue'
import Map from '../components/Map.vue'

export default{
    components: {
        'google-map': Map,
    },
    setup() {      
        const store = useStore();

        const forms = reactive({
            agent: { name :'agents',label:'Çalışan Seçiniz' ,value: '',type:'text', error: '', disabled: false ,placeholder: '',icon: '',required:true},
            contact: { name :'contacts',label: 'Müşteri Seçiniz', value: '',type:'text',error: '', disabled: false ,placeholder: '',icon: '',required:true},
            email: { name :'contact_email',label: 'Müşteri Email', value: '',type:'text',error: '' , disabled: true ,placeholder: 'example@example.com',icon: 'fa fa-address-card',required:true},
            phone: {name :'contact_phone',label: 'Müşteri Telefon', value: '',type:'text', error: '' , disabled: true,placeholder: '',icon: 'fa fa-phone',required:true},
            postalCode: {name :'post_code',label: 'Posta Kodu', value: '',type:'text', error: '', disabled: false ,placeholder: '',icon: 'fa fa-map-marker',required:true},
            appointmentDate: { name :'appointment_date',label: 'Randevu Tarihi', value: '',type:'datetime-local', error: '', disabled: false ,placeholder: '',icon: 'fa fa-calendar',required:true}          
        });

        watch(forms.contact, (val) => {
            const selectedUser = getContacts.value.find(item => item.id === val.value);
            if (selectedUser) {
                forms.email.value = selectedUser.fields.contact_email;
                forms.phone.value = selectedUser.fields.contact_phone;
            } else {
                console.log("Müşteri Bulunamadı");
            }
       });

        onMounted(() => {
            const postcode = import.meta.env.VITE_POST_CODE;
            getLocationPostcode(postcode)
        });

        const { agents: agents, fetchAllAgents } = useResource('Agents')
        fetchAllAgents()
        store.commit('setAgents',agents)
        const getAgents = computed(() => store.getters.getAgents);

        const { contacts: contacts, fetchAllContacts } = useResource('Contacts')
        fetchAllContacts()
        store.commit('setContacts',contacts)
        const getContacts = computed(() => store.getters.getContacts);


        const mapCenter = ref({ lat: 0, lng: 0 });
        const isRendered = ref(false);

        const getLocationPostcode = async (postcode) => {
            const { location: location, fetchLocationPostCode } = useResource('postcodes')
            await fetchLocationPostCode(postcode);
            const { latitude, longitude } = location.value;
            mapCenter.value.lat = latitude;
            mapCenter.value.lng = longitude;
            isRendered.value = true;
        };

        const clickedLocation = ref('');
        const distanceToAppointment = ref('');
        const travelTimeToAppointment = ref('');
        const totalAppointmentTime = ref('');

        const mapClick = (latLngData) => {
            const { location, distance } = latLngData;

            const distanceInKm = parseFloat(distance.replace(' km', ''));

            const averageSpeed = 30;

            const travelTimeInHours = distanceInKm / averageSpeed;

            const totalTravelTimeInHours = travelTimeInHours * 2;

            const totalAppointmentTimeInHours = totalTravelTimeInHours + 1;

            const totalHours = Math.floor(totalAppointmentTimeInHours);
            const totalMinutes = Math.round((totalAppointmentTimeInHours - totalHours) * 60);

            clickedLocation.value = location;
            distanceToAppointment.value = distanceInKm.toFixed(2);

            if (travelTimeInHours < 1) {
                travelTimeToAppointment.value = Math.round(travelTimeInHours * 60) + " dakika";
            } else {
                const travelHours = Math.floor(travelTimeInHours);
                const travelMinutes = Math.round((travelTimeInHours - travelHours) * 60);
                travelTimeToAppointment.value = `${travelHours} saat ${travelMinutes} dakika`;
            }
            if (totalAppointmentTimeInHours < 1) {
                totalAppointmentTime.value = Math.round(totalAppointmentTimeInHours * 60) + " dakika";
            } else {
                totalAppointmentTime.value = `${totalHours} saat ${totalMinutes} dakika`;
            }
        };

        const submitForm = async () => {
            try {
                const postData = {
                    records: [
                    {
                        fields: {
                            appointment_date: forms.appointmentDate.value,
                            appointment_postcode: forms.postalCode.value,
                            agent_id: [forms.agent.value],
                            contact_id: [forms.contact.value],
                        }
                    }
                    ]
                };
                const { postAppointment: postAppointment, PostAppointment } = useResource('Appointments')
                await PostAppointment(postData)
                store.commit('setAppointments',postAppointment)

            } catch (error) {
                console.error('Randevu oluşturma hatası:', error);
            }
        };
     
return {
    forms,
    getAgents,
    getContacts,
    submitForm,
    getLocationPostcode,
    mapCenter,
    isRendered,
    clickedLocation,
    distanceToAppointment,
    travelTimeToAppointment,
    totalAppointmentTime,
    mapClick
};
}

}
    
</script>
