<template>
    <Splide :options="splideOptions" aria-label="Dashboard slider" class="slider">
      <SplideSlide>
            <img src="@/assets/images/slider-1.jpeg" class="slider-img">
      </SplideSlide>
      <SplideSlide>
            <img src="@/assets/images/slider-2.jpeg" class="slider-img">
      </SplideSlide>
    </Splide>
  </template>
  
  <script>
  import { ref, onMounted } from 'vue';
  import { Splide, SplideSlide } from '@splidejs/vue-splide';
  import '@splidejs/vue-splide/css';
  
  export default {
    components: { Splide, SplideSlide },
    setup() {
      const splideOptions = ref({
        rewind: true,
        arrows: false,
        pagination:false,
        autoplay: true,
        interval: 3000,
        resetProgress: true,
      });
      return {
        splideOptions,
      };
    },
  };
  </script>
  