<template>
    <v-dialog v-model="show" max-width="700" class="appointment-modal" v-if="payload">
      <v-card>
        <v-card-title>Randevuyu Güncelle</v-card-title>
        <v-card-text>
          <v-text-field v-model="payload.fields.agent_name[0]" label="Çalışan Adı"></v-text-field>
          <v-text-field v-model="payload.fields.agent_surname[0]" label="Çalışan Soyadı"></v-text-field>
          <v-text-field v-model="payload.fields.contact_name[0]" label="Müşteri Adı"></v-text-field>
          <v-text-field v-model="payload.fields.contact_surname[0]" label="Müşteri Soyadı"></v-text-field>
          <v-text-field v-model="payload.fields.contact_email[0]" label="Müşteri Email"></v-text-field>
          <v-text-field v-model="payload.fields.contact_phone[0]" label="Müşteri Telefon"></v-text-field>
          <div class="v-field__field datetime_field" data-no-activator="">
            <label class="v-label v-field-label" for="datetime">Randevu Tarihi</label>
            <input class="form-control appointment-date" type="datetime-local" id="datetime" placeholder="Randevu Tarihi" :value="formatDate(payload.fields.appointment_date)">
        </div>
        </v-card-text>
        <v-card-actions>
          <v-btn class="btn btn-success" @click="updateAppointment">Kaydet</v-btn>
          <v-btn class="btn btn-danger" @click="closeDialog">Kapat</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </template>

<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'
import useResource from '../composables/useResource'
import mappingAppointmentUpdateRequest from '../composables/useMappingObject'


const store = useStore();
const show = computed(() => store.getters.getShowUpdateModal);
const payload = computed(() => store.getters.getShowUpdateModalPayload);

const closeDialog = () => {
    store.commit('setShowUpdateModal', { show: false, payload: null });
};

const formatDate = (appointmentDate) => {
    const date = new Date(appointmentDate);
    const customFormat = date.toISOString().slice(0, 16);
    return customFormat;
}

const updateAppointment = () => {
  const postData = {
      records: [
        {
          fields: {
            appointment_date: payload.value.fields.appointmentDate,
            appointment_postcode: payload.value.fields.postalCode,
            agent_id: [payload.value.fields.agent],
            contact_id: [payload.value.fields.contact],
          }
        }
      ]
    };
    const { UpdateAppointment} = useResource('Appointments')
    UpdateAppointment(postData,payload.value.id);
};

</script>