<template>
     <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5">
                <img src="@/assets/images/logo.svg" />
            </a>
            <ul class="list-unstyled components mb-5">
                <li class="nav-item active">
                    <router-link to="/" class="nav-link">Anasayfa</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="appointments" class="nav-link">Randevular</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="create-appointment" class="nav-link">Randevu oluştur</router-link>
                </li>
            </ul>
            <div class="footer">
                <p>
                    Copyright &copy; 2024
                </p>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    setup () {
        

        return {}
    }
}
</script>

<style lang="scss" scoped>

</style>