<template>
    <nav class="navbar navbar-expand-lg d-md-block d-md-none">
        <div class="container-fluid">
            <button
            class="btn mobile-menu-button d-inline-block d-md-none ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto d-md-block d-md-none">
            <li class="nav-item px-2 py-1 active">
                <router-link to="/" class="nav-link">Anasayfa</router-link>
            </li>
            <li class="nav-item px-2 py-1">
                <router-link to="appointments" class="nav-link">Randevular</router-link>
            </li>
            <li class="nav-item px-2 py-1">
                <router-link to="create-appointment" class="nav-link">Randevu oluştur</router-link>
            </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    setup () {
        

        return {}
    }
}
</script>

<style lang="scss" scoped>

</style>