<script setup>
import { RouterView } from "vue-router";
import Menu from "./components/Menu.vue";
import MobileMenu from "./components/MobileMenu.vue";
import usePageRequests from './composables/usePageRequest'

const { isLoading } = usePageRequests()
</script>

<template>
    <div class="wrapper d-flex align-items-stretch">
      <Menu />
      <div id="content">
        <MobileMenu />
        <div v-if="isLoading" class="loading-box">
          <img class="loading-spinner" src="@/assets/images/loading.gif" />
        </div>
        <RouterView />   
      </div>
    </div>
</template>
